/* * {
    box-sizing: border-box;
} */

body {
    font-family: "Open Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;   
    background-color: #111;
    color: #fff6e5;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    line-height: 1.5;
    scroll-behavior: smooth;
}

h2 {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    margin-bottom: 1rem;
}

h3 {
    margin: 0;
}

.download-section {
    text-align: center;
    margin-top: 1.5rem;
}

.pdf-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.20s ease-in-out;
}

.pdf-button:hover {
    background-color: navy;
    color: white;
}


.fa-file-pdf {
    /* width: 24px; */    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.projects-container {
    padding-top: 0.5rem;
    display: grid;
    grid-auto-columns: min-content;
    margin: 0 auto;
    width: 100%;    
    grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
    gap: 1rem;
}

.project-container {
    text-align: center;
    border: 1px solid gray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
    font-weight: bold;
}

.project .project-link {
    margin-top: 1rem;
}

.project-subtitle {
    font-size: 0.8rem;
    font-style: italic;
    color: gray ;
}

.navigation-item {
    margin: 8px;
}

nav {
    display: flex;
    align-items: center;
    padding: 1em 0;
}

nav a {
    transition: all 0.0s ease-in-out;
}

nav a:hover {
    color: rgb(6, 141, 231);
}

.final-p-aboutme {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #fff6e5;
} 

.project a {
    text-decoration: none;
    font-weight: 600;
    color: #fff6e5;
    opacity: .85
}

.project a:hover {
    opacity: 1;
    transition: opacity 200ms ease-out;
}

.project-description, .project-technologies {
    margin: 0;
    font-size: 0.9rem;
    padding: 0 0.4rem;
}

.project-description {
    margin-top: 0.3rem;
    
}
.project-description a {
   text-decoration: underline;
   font-weight: lighter;
}

.project-technologies {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.list-technologies {
    display: inline;
    margin: 0;
    padding: 0 0.5rem;
}

.technology {
    display: inline-flex; 
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    margin-right: 0.375rem; 
    margin-top: 0.3rem; 
    border-radius: 1rem; 
    border-width: 1px; 
    border-color: #ffffff; 
    border-style: solid; 
    font-weight: 500; 
    color: #fff6e5; 
    font-size: 0.9rem;
    font-weight: 600;

}

.technology:hover {
    background-color: darkblue;
}


.project-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-top: 1rem;
    padding: 0.8rem 2rem; 
    border-top: 1px gray solid;
}

.project-link-a {
    background-color: white;
    color: black;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: all 0.20s ease-in-out;

}

.project-link-a:hover {
    background-color: darkblue;
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* .project-links a {
    margin: 0 3rem;
    margin-top: 0.8rem;
} */

.project-link-icon {
    margin-left: 0.5rem;
    font-size: 1rem 
}

.project-link-ghicon {
    margin-left: 0.5rem;
    font-size: 1.4rem;
}

/* .project-link-icon:hover {
    color: darkblue;
} */

footer {
    margin-top: auto;
    padding: 2rem 0 1rem 0;
    text-align: center;
}

.heart {
    color: red;
}

section {
    padding: 1em 0;
}

details {
    cursor: pointer;
}

.project-title {
    margin-top: 0.4rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.project-title:hover {
    color: rgb(6, 141, 231);
    transition: all 0.20 ease-in-out;
}

.project-link:hover .project-subtitle {
    color:  rgb(6, 141, 231);
}

.project-link:hover {
    color:  rgb(6, 141, 231); ;
    user-select: none;
}

.image-wrapper {
    overflow: hidden;
}

.project-image {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
    min-width: 18rem;
    height: auto;
    object-fit: cover;
    opacity: .8;
    transition: all .25s ease-in-out;
}


.project-image:hover, .project-image-responsive:hover, .project-image-desktop:hover { 
    opacity: 1;
    transform: scale(1.035);
    width: 100%;
}

.project-image-responsive {
    border-radius: 8px;
    height: 310px;
    transition: all .2s ease-in-out;

}

.skill-experience {
    margin-top: 0.3rem;
}

span {
    font-weight: bold;
    margin-right: 0.5rem;
}

#time-container {
    margin: 0;
}

/* contact.html */
.fa, .contact-links  {
    color: #fff6e5;
    padding: 0 1rem;
    margin: 0 0.5rem;
    font-size: 52px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: all .2s ease-in-out; 
  }

    .icons .fa-brands {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 42px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .contact-links:hover {
    transform: scale(1.2);
  }

  .icons {
    text-align: center;
    margin-top: 0.5rem;
  }

  .social {
    text-align: center;
  }

  @media only screen and (max-width: 640px) {
    h1 {
        font-size: 1rem;
        width: min-content;
        padding-right: 1rem;
    }
    nav {
        padding-top: 0.5rem;
    }
    .navigation-items {
        gap: 0.8rem;
    }
    .navigation-item {
        margin: 0;
    }
    .project-image {
        opacity: 1;
    }

    .project-link {
        margin-top: 0;
    }
    .icons {
        margin: 0;
    }
    .fa-brands {
        font-size: 2rem;
        width: 30px;
        margin: 0;
      }
      .project-link-ghicon {
        margin-left: 0.2rem;
        font-size: 1.4rem;
    }
  }