body {
    font-family: "Open Sans", sans-serif;
    background-color: #111;
    color: #fff6e5;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

h2 {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    margin-bottom: 12px;
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.navigation-item {
    margin: 8px;
}

nav {
    display: flex;
    align-items: center;
    padding: 1em 0;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #fff6e5;
}

footer {
    margin-top: auto;
    padding: 12px 0;
    text-align: center;
}

.heart {
    color: red;
}

section {
    padding: 1em 0;
}

details {
    cursor: pointer;
}

.project-title h3 {
    display: inline;
}

.project-image {
    width: 60%;
}

/* contact.html */

.fa {
    padding: 10px;
    margin: 8px;
    font-size: 45px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-linkedin {
    background: #0077b5;
    color: white;
  }
  
  /* Twitter */
  .fa-github {
    background: #55ACEE;
    color: white;
  }