body {
    font-family: "Open Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;   
    background-color: #111;
    color: #fff6e5;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    line-height: 1.5;
}

h2 {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    margin-bottom: 12px;
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
    font-weight: bold;
}

.container-project-images {
    display: flex;
    /* display:inline-flex; */
    justify-content: left;
    gap: 1rem;
    /* margin-top: 1rem; */
    width: 100%;
    flex-wrap: wrap;
}

.project .project-link {
    margin-top: 1rem;
}

.navigation-item {
    margin: 8px;
}

nav {
    display: flex;
    align-items: center;
    padding: 1em 0;
}

nav a:hover {
    color: crimson;
}

.final-p-aboutme {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #fff6e5;
} 

.project a {
    text-decoration: none;
    font-weight: 600;
    color: #fff6e5;
    opacity: .85
}

.project a:hover {
    opacity: 1;
    transition: opacity 200ms ease-out;
}

 .project-description a {
    text-decoration: underline;
    font-weight: lighter;
}

footer {
    margin-top: auto;
    padding: 12px 0;
    text-align: center;
}

.heart {
    color: red;
}

section {
    padding: 1em 0;
}

details {
    cursor: pointer;
}

.project-link {
    /* gap: 0.5em; */
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
}

.project-title h3 {
    display: inline;
    user-select: none;
}

.project-image, .project-image-desktop {
    border-radius: 8px;
    width: 600px;
    height: 310px;
    object-fit: cover;
    transition: all .25s ease-in-out;
    margin-top: 0.8rem;
}

.project-image-desktop {
    margin-top: 0;
}


.project-image:hover, .project-image-responsive:hover, .project-image-desktop:hover { 
    transform: scale(1.035);
}

.project-image-responsive {
    border-radius: 8px;
    height: 310px;
    transition: all .2s ease-in-out;
    /* margin-top: 0.8rem; */
}

span {
    font-weight: bold;
    margin-right: 0.5rem;
}

#time-container {
    margin: 0;
}

/* contact.html */
.fa {
    color: #fff6e5;
    padding: 10px;
    margin: 8px;
    font-size: 52px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: all .2s ease-in-out; 
  }

.fa-brands {
    padding: 10px;
    margin: 8px;
    font-size: 42px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    transform: scale(1.2);
  }

  .icons {
    text-align: center;
    margin-top: 0.5rem;
  }

  .social {
    text-align: center;
  }

  @media only screen and (max-width: 640px) {
    h1 {
        font-size: 1rem;
        width: min-content;
    }
    nav {
        padding-top: 0.5rem;
    }
    .navigation-items {
        gap: 0.8rem;
    }
    .navigation-item {
        margin: 0;
        font-size: 0.9rem;
    }
    .project-image, .project-image-desktop {
        border-radius: 8px;
        width: 350px;
        height: 180px;
        object-fit: cover;
        transition: all .25s ease-in-out;
        margin-top: 1rem;
    }
    .project-image-responsive {
        border-radius: 8px;
        height: 310px;
        transition: all .2s ease-in-out;
        margin-top: 0;
    }

    .project-link {
        margin-top: 0;
    }
    .icons {
        margin: 0;
    }
    .fa-brands {
        font-size: 2rem;
        width: 30px;
        margin: 0;
      }
  }